/* universal styles */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header section */
.header {
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.description {
    text-align: right;
    padding: 210px 200px 0px 700px;
}

.title {
    font-size: 55px;
    height: 150px;
    width: 400px;
    padding-bottom: 50px;
}

.sub-title {
    font-size: 16px;
    width: 400px;
    padding-bottom: 20px;
}

.btn-primary {
    color: whitesmoke;
    background-color: rgba(255, 94, 0, 0.932);
    padding: 15px 20px;
    margin-right: 150px;
    border-radius: 5px;
    border: none;
}

/* Failure Section */
.previous-failure {
    display: flex;
}

.img {
    height: 700px;
    width: 550px;
    margin-top: 150px;
    margin-left: 120px;
}

.failure {
    height: 400px;
    width: 420px;
    margin-top: 400px;
    margin-left: 80px;
}

.failure-title {
    margin-bottom: 40px;
    font-size: 40px;
}

.failure-description {
    margin-bottom: 20px;
}

/* Plan section style */
.plan-heading {
    text-align: center;
    padding-top: 120px;
}

.plan {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 300px;
}

.plan-list {
    padding: 30px;
}

.plan-title {
    padding-bottom: 18px;
}

/* call section style */
.call{
    margin-left: 280px;
    background-image: url(images/watch.png);
    width: 900px;
}
.call-title{
    margin-bottom: 30px;
    margin: top 0;
    padding: 25px 30px;
    width: 300px;
}
.call-btn{
        color: rgb(255, 0, 0);
        background-color: white;
        padding: 15px 25px;
        margin-left:30px;
        margin-bottom: 30px;
        border: none;
        border-radius: 10px;
}
/* footer styles */
.footer{
    background-color: black;
    height: 500px;
    margin-top: 100px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    padding-bottom: 130px;
}
.footer-left{
    color: white;
    padding-left: 230px;
}
.footer-description{
    width: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.email{
    padding-bottom: 30px;
}
.phone{
    padding-bottom: 20px;
}
.footer-right{
    padding-right: 230px;
}
.form{
    padding-bottom: 20px;
    margin-bottom: 25px;
}